RewriteEngine On
# Deze regel is cruciaal wanneer je een Alias gebruikt!
RewriteBase /admin

# Als bestand/map bestaat, gebruik die
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Anders alles naar index.php
RewriteRule ^ index.php [L]